<Project>
  <!-- See https://aka.ms/dotnet/msbuild/customize for more details on customizing your build -->
  <PropertyGroup>
        <UnityPluginPath>
          <!-- 여기에 유니티 경로를 넣고 진행 -->
        </UnityPluginPath>
  </PropertyGroup>
</Project>
